.u-section-1 {
  background-image: url("images/cat_background.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 1288px;
}

.u-section-1 .u-video-1 {
  height: 1280px;
  width: 100%;
  margin: 207px auto 0 76px;
}

.u-section-1 .u-text-1 {
  font-size: 1.125rem;
  font-weight: 700;
  text-transform: uppercase;
  margin: 56px 782px 0 0;
}

.u-section-1 .u-text-2 {
  font-size: 6rem;
  font-weight: 700;
  line-height: 1;
  text-transform: uppercase;
  margin: 0;
}

.u-section-1 .u-icon-1 {
  height: 64px;
  width: 64px;
  margin: 154px auto 0 398px;
}

.u-section-1 .u-icon-2 {
  height: 64px;
  width: 64px;
  margin: -64px 398px 0 auto;
}

.u-section-1 .u-icon-3 {
  height: 64px;
  width: 64px;
  margin: -64px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1470px;
  }

  .u-section-1 .u-video-1 {
    height: 640px;
    width: 640px;
    margin-top: 160px;
    margin-right: 519px;
    margin-left: auto;
  }

  .u-section-1 .u-text-1 {
    margin-top: 485px;
    margin-right: 582px;
  }

  .u-section-1 .u-icon-1 {
    height: 50px;
    width: 50px;
    margin-top: 168px;
    margin-left: 353px;
  }

  .u-section-1 .u-icon-2 {
    height: 50px;
    width: 50px;
    margin-top: -50px;
    margin-right: 353px;
  }

  .u-section-1 .u-icon-3 {
    height: 50px;
    width: 50px;
    margin-top: -50px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1474px;
  }

  .u-section-1 .u-video-1 {
    margin-top: 278px;
    margin-right: 393px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 371px;
    margin-right: 362px;
  }

  .u-section-1 .u-icon-1 {
    height: 49px;
    width: 49px;
    margin-top: 179px;
    margin-left: 252px;
  }

  .u-section-1 .u-icon-2 {
    height: 49px;
    width: 49px;
    margin-top: -49px;
    margin-right: 252px;
  }

  .u-section-1 .u-icon-3 {
    height: 49px;
    width: 49px;
    margin-top: -49px;
    margin-bottom: 50px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1416px;
  }

  .u-section-1 .u-video-1 {
    height: 335px;
    margin-top: 118px;
    margin-right: 213px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 537px;
    margin-right: 182px;
  }

  .u-section-1 .u-text-2 {
    font-size: 3.75rem;
  }

  .u-section-1 .u-icon-1 {
    height: 46px;
    width: 46px;
    margin-top: 182px;
    margin-left: 156px;
  }

  .u-section-1 .u-icon-2 {
    height: 45px;
    width: 45px;
    margin-top: -46px;
    margin-right: 156px;
  }

  .u-section-1 .u-icon-3 {
    height: 42px;
    width: 42px;
    margin-top: -41px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1374px;
  }

  .u-section-1 .u-video-1 {
    height: 276px;
    width: 276px;
    margin-top: 265px;
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-1 .u-text-1 {
    margin-top: -8px;
    margin-right: 0;
  }

  .u-section-1 .u-text-2 {
    font-size: 3rem;
  }

  .u-section-1 .u-icon-1 {
    height: 42px;
    width: 42px;
    margin-top: 616px;
    margin-left: 59px;
  }

  .u-section-1 .u-icon-2 {
    height: 42px;
    width: 42px;
    margin-top: -42px;
    margin-right: 59px;
  }

  .u-section-1 .u-icon-3 {
    margin-top: -42px;
    margin-right: 146px;
    margin-bottom: 58px;
  }
}

@media (max-width: 375px) {
  .u-section-1 .u-sheet-1 {
    min-height: 700px;
  }

  .u-section-1 .u-video-1 {
    height: 276px;
    width: 276px;
    margin-top: 265px;
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-1 .u-text-1 {
    margin-top: -8px;
    margin-right: 0;
  }

  .u-section-1 .u-text-2 {
    font-size: 3rem;
  }

  .u-section-1 .u-icon-1 {
    height: 42px;
    width: 42px;
    margin-top: 616px;
    margin-left: 59px;
  }

  .u-section-1 .u-icon-2 {
    height: 42px;
    width: 42px;
    margin-top: -42px;
    margin-right: 59px;
  }

  .u-section-1 .u-icon-3 {
    margin-top: -42px;
    margin-right: 146px;
    margin-bottom: 58px;
  }
}